.header-top nav ul {
    display: flex;
	justify-content: space-between;
    text-align: justify;
	flex-direction: column;
	
    
    }


    .header-top nav ul li{

        flex-direction: column;
        padding-left: 0%;
    padding-right: 0%;
    }

.header-top{
  
    
    width: max-content;
}





footer .Animatedlogo{

    display: none;
}

h1{

    padding: 0%;
}

html{

    max-width: 100%;
}