.header-top nav ul {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
    }

    

    .header-top nav ul li{
        height: 100%;
}

.header-top{
  
    
    max-width: 59%;
    background-size: cover;
}

header{
    position: unset;
    width: unset;
    top: 0;
    height: unset;
       
   }



footer .Animatedlogo{

    display: none;
}

h1{

    padding: 0%;
}

html{

    max-width: 100%;
}

.deletebr{

    display: none;
}

header img{

    display: none;
}